---
import BaseLayout from '@layouts/BaseLayout.astro';
import '../styles/global.css';
const identity = {
  firstName: 'Paweł',
  lastName: 'Kowaluk',
  occupation: 'Technical Writer',
  hobbies: ['building Astro sites'],
  skills: ['React.js', 'Typescript', 'DITA'],
};

const pageTitle = `About ${identity.firstName} ${identity.lastName}`;
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Paweł is a writer who lives in Krakow, Poland. He works in technical
    communication, but writing remains his true calling.
  </p>
  <p>{identity.firstName}'s skills are:</p>
  <ul>{identity.skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
</BaseLayout>
