---
import FormattedDate from '@components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Tag from '@components/Tag.astro';

const { frontmatter, previous, next } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="meta">
    <FormattedDate dateString={frontmatter.date} />
    <div class="tags">
      {frontmatter.categories.map((tag: string) => <Tag value={tag} />)}
    </div>
  </div>
  <slot />
  <div class="bottom-nav">
    {
      next ? (
        <div class="item">
          <span class="label">Newer: </span>
          <a
            href={`${import.meta.env.BASE_URL}/posts/${next.slug}`}
            class="link-box"
          >
            {next.data.title}
          </a>
        </div>
      ) : (
        <div />
      )
    }
    {
      previous ? (
        <div class="item">
          <span class="label" style="align-self: flex-end;">
            Older:{' '}
          </span>
          <a
            href={`${import.meta.env.BASE_URL}/posts/${previous.slug}`}
            class="link-box"
            style="text-align: right;"
          >
            {previous.data.title}
          </a>
        </div>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>

<style>
  .meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-style: italic;
    font-size: 90%;
    padding-bottom: 2rem;
  }

  .description {
    border-left: 3px solid gray;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .bottom-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 4rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link-box {
    border: 0.5px solid lightgray;
    padding: 1rem;
    border-radius: 6px;
    flex: 1;
  }
</style>
